<!DOCTYPE html>
<html>
  <head>
    <title>WQUProject - {{ title }}</title>
    <link rel="stylesheet" href="https://unpkg.com/picnic"/>
  </head>
  <body>
    <nav>
      <a href="/" class="brand"><span>Weather API</span></a>
​
      <!-- responsive-->
      <input id="bmenub" type="checkbox" class="show">
      <label for="bmenub" class="burger pseudo button">Menu</label>
​
      <div class="menu">
        <a href="/" class="button error">Home</a>
        <a href="/weather" class="button warning">YourLocation</a>       
        <a href="/myweather" class="button error">AnyLocation</a>
      </div>
    </nav>
​
    <article class="flex two" style="padding: 3em 1em;">
      {% block content %}
      
     
      {% endblock %}
    </article>
    <!-- <script src="https://cdn.jsdelivr.net/npm/umbrellajs"/> -->
  </body>
</html>
